.button{
font-weight:450;
font-size: 15px;
color: #dfdfdf;
background-color: transparent;
border: transparent;
padding: 5px 12px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin: 0.25rem;
text-decoration: underline;
}

.button:hover{
transition : 1000ms;
transform : translateY(-2px);
color: #ffffff;
}

@media (max-width: 450px) {
    .button {
      font-size: 10px; 
      padding: 3px 10px; 
      margin: 0.2rem; 
    }
  
    .button:hover {
      transform: translateY(0); 
      background-color: transparent;
      color: #dfdfdf;
    }
  }
  