.button{
font-weight:500;
font-size: 12px;
color: #000000;
background-color: #dfdfdf;
padding: 5px 10px;
border: 2px solid #dfdfdf;
box-shadow: #000000 0px 0px 0px 0px;
border-radius: 15px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin: 0.25rem;
}

.button:hover{

transition : 1000ms;
padding: 3px 15px;
transform : translateY(-1px);
background-color: #fff;
color: #333333;
border: solid 2px #dfdfdf;
}

@media (max-width: 375px) {
    .button {
      font-size: 10px; /* Reduza o tamanho da fonte em dispositivos móveis */
      padding: 3px 10px; /* Reduza o padding do botão */
      border-radius: 10px; /* Reduza o raio do border-radius */
      margin: 0.2rem; /* Ajuste de margem menor */
    }
  
    .button:hover {
      padding: 2px 12px; /* Reduza o padding do botão em hover */
      transform: translateY(0); /* Remova a transformação translateY em hover */
      background-color: #fff;
      color: #333333;
      border: 2px solid #dfdfdf;
    }
  }
  