
body, html {
  margin: 0;
  overflow-x: hidden; 
  background-color: #1A1D1E;
  color: #dfdfdf;
}

main {
  margin: 8rem 2;
}

@media (max-width: 450px) {
  body, html {
    font-size: 16px; 
  }

  main {
    margin: 4rem 1rem; 
  }
}
