.apresentation-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.apresentation-image {
  width: 30rem;
  height: 30rem;
  background-color: #dfdfdf;
  border-radius: 100%;
  position: relative;
}

.apresentation-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0B0B0B ;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.about-container h1{
  font-size: 2.5rem;
}

.projects-container h1{
  font-size: 2.5rem;
}

.skills-container h1{
  font-size: 2.5rem;
}

.hometitulo1 {
  font-size: 3.5rem;
}

.hometitulo2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.about-details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.go-top > svg {
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  bottom: 5rem;
  right: 5rem;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
}

.go-top > svg:hover {
  transform: scale(1.2);
}

.about-details {
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-foto {
  width: 15rem;
  height: 15rem;
  background-color: #dfdfdf;
  border-radius: 100%;
  position: relative;
  outline: 8px solid #dfdfdf;
}

.about-foto img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  
}

.about-text {
  width: 50%;
}

.about-skills {
  width: 73%;
}

.language-skills {
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.projects-icons {
  width: 15rem;
  height: 15rem;
  background-color: #dfdfdf;
  border-radius: 100%;
  margin: 3rem 2rem;
}

.projects-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-buttons {

  display: flex;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b0b0b;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.skills-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
}

.skills-icons {
  margin: 1rem;
  width: 9rem;
  height: 8rem;
  position: relative;
}

.skills-icons {
  background-color: #dfdfdf;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icons img {
  width: 50% !important;
  height: 50% !important;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.redirect {
  display: flex;
}
.redirect > svg {
  width: 2rem;
  height: 3rem;
  color: white;
  margin-right: 2.5rem;
}
.redirect > svg:hover {
  transform: scale(1.2);
}

@media (max-width: 450px) {
  .apresentation-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
  }

  .apresentation-image {
    width: 20rem; 
    height: 20rem; 
    margin-bottom: 1rem; 
  }

  .about-container {
    padding-top: 1rem;
    padding-bottom: 2rem; 
  }

  .about-details-container {
    flex-direction: column; 
    align-items: center;
  }

  .about-foto {
    width: 10rem; 
    height: 10rem; 
    margin-bottom: 1rem; 
    outline: 4px solid #dfdfdf; 
  }

  .about-text {
    width: 80%; 
    text-align: center; 
  }

  .about-skills {
    width: 80%; 
    text-align: center; 
  }

  .projects-container {
    padding-top: 1rem;
    padding-bottom: 2rem; 
  }
  .go-top > svg {
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    bottom: 1.5rem;
    right: 1.2rem;
  }

  .projects-icons {
    width: 7rem; 
    height: 7rem; 
    margin: 0.1rem; 
    margin-bottom: 1rem;
  }

  .skills-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .skills-logos {
    width: 80%;
  }

  .skills-icons {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
  }

  .skills-icons img {
    width: 78% !important; 
    height: 70% !important; 
    transform: translate(0%, 0%); 
    margin-left: 0.6rem;
    margin-top: 0.9rem;
  }
  
  .redirect {
    flex-direction: row; 
    align-items: center;
    text-align: center; 
  }
  
  .redirect > svg {
    margin-bottom: 1rem; 
  }
}
